{% extends "layouts/default-noclf.twig" %}
{% set title = "Components Page" %}
{% set pageTitle = "First Nations Acknowledgement Test" %}

{% block content %}
<main class="unit-content">
	<div class="container mx-auto p-4 ">
		<h1 class="text-ubc-blue">{{ pageTitle }}</h1>
		<p>Test the First Nations Acknowledgement Text in Open Sans</p>
		<hr />
		<p>We acknowledge that UBC’s two main campuses are located on the traditional, ancestral and unceded territories
			of the xʷməθkʷəy̓əm (Musqueam) and Syilx (Okanagan) peoples.</p>
	</div>
</main>

{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
