{% extends "layouts/default.twig" %}
{% set title = "Landing page - cmasthead" %}
{% set pageTitle = "Health and Wellbeing" %}

{% block content %}
<main class="unit-content">

	<div class="container mx-auto px-4 pb-4 grid-container grid-container--basic">
		<div class="grid-area-a">

			{% include "components/form--sample.twig" %}

		</div>
	</div>
</main>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
