{% extends "layouts/plain.twig" %}
{% set title = "Type Test | UBC Human Resources" %}
{% set pageTitle = "A basic page" %}

{% block content %}
<main class="container mx-auto px-4 md--px-0 show-grid">
  {% include "components/type.twig" %}
</main>
{% endblock %}

{% block custom_css %}
<style>
:root {
		--base-font-size: 16;
		--base-line-height: 1.5;
		--leading: calc(var(--base-line-height) * 1rem);
		/* Rate of growth for headings */
		/* major third - https://type-scale.com */
		--scale: 1.25;
	}
	.show-grid {
		background-size: 100% var(--leading);
		background-image: linear-gradient(to bottom, #ccc 0%, transparent 4%,
		transparent 100%);
	}
</style>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
