{% extends "layouts/default.twig" %}
{% set title = "Type + Layout Test" %}
{% set pageTitle = "Heading 1" %}

{% block content %}
<main class="unit-content container mx-auto px-4 md--px-0 pb-6">
	{% include "components/type--sample-3.twig" %}
</main>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
