{% extends "layouts/default-noclf.twig" %}
{% set title = "Copy Test" %}
{% set pageTitle = "A basic page" %}

{% block content %}
<main class="unit-content container mx-auto">
	{% include "components/type--sample.twig" %}
</main>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
