/** @define icon */

/*
* This file contains all styles related to the icon component.
*/

.has-icon--arrow-circle::after {
	top: 0;
	right: 0;
	width: 1em;
	height: 100%;
	margin-right: -1.5em;
	line-height: 0;
	background-image: url('../img/svg/icon--arrow-circle.svg');
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 1em 1em;
	transform: translateX(0);
	transition: transform .125s ease;
}

.group:hover .has-icon--arrow-circle::after {
	transform: translateX(.25rem);
}
