<div class="message py-4 pl-4 pr-12 xl--py-8 xl--pl-8 shadow-lg my-6 relative flex items-center" role="status"
	aria-live="polite">
	<a class="close absolute right-0 top-0 px-4 py-3 hover--bg-white-transparent hover--no-underline hover--text-black leading-none"
		data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="inline-block h-12 w-12 xl--w-20 xl--h-20 text-ubc-blue mr-4 xl--mr-8 flex-none">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some unstyled message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--alert py-4 pl-4 pr-12 xl--py-8 xl--pl-8 shadow-lg my-6 relative flex items-center bg-ubc-alert"
	role="status" aria-live="polite">
	<a class="close absolute right-0 top-0 px-4 py-3 hover--bg-white-transparent hover--no-underline hover--text-black leading-none"
		data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="inline-block h-12 w-12 xl--w-20 xl--h-20 text-ubc-blue mr-4 xl--mr-8 flex-none">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some alert message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--warning py-4 pl-4 pr-12 xl--py-8 xl--pl-8 shadow-lg my-6 relative flex items-center bg-ubc-warning"
	role="status" aria-live="polite">
	<a class="close absolute right-0 top-0 px-4 py-3 hover--bg-white-transparent hover--no-underline hover--text-black leading-none"
		data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="inline-block h-12 w-12 xl--w-20 xl--h-20 text-ubc-blue mr-4 xl--mr-8 flex-none">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some warning message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--success py-4 pl-4 pr-12 xl--py-8 xl--pl-8 shadow-lg my-6 relative flex items-center bg-ubc-success"
	role="status" aria-live="polite">
	<a class="close absolute right-0 top-0 px-4 py-3 hover--bg-white-transparent hover--no-underline hover--text-black leading-none"
		data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="inline-block h-12 w-12 xl--w-20 xl--h-20 text-ubc-blue mr-4 xl--mr-8 flex-none">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some success message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--general py-4 pl-4 pr-12 xl--py-8 xl--pl-8 shadow-lg my-6 relative flex items-center bg-ubc-blue-neptune"
	role="status" aria-live="polite">
	<a class="close absolute right-0 top-0 px-4 py-3 hover--bg-white-transparent hover--no-underline hover--text-black leading-none"
		data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="inline-block h-12 w-12 xl--w-20 xl--h-20 text-ubc-blue mr-4 xl--mr-8 flex-none">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some general message content. <a href="#" class="underline">Learn more</a>.</p>
</div>

<div class="message message--general py-4 pl-4 pr-12 xl--py-8 xl--pl-8 shadow-lg my-6 relative flex items-center bg-ubc-blue-neptune"
	role="status" aria-live="polite">
	<a class="close absolute right-0 top-0 px-4 py-3 hover--bg-white-transparent hover--no-underline hover--text-black leading-none"
		data-dismiss="message" href="#">×</a>
	<svg role="presentation" class="inline-block h-12 w-12 xl--w-20 xl--h-20 text-ubc-blue mr-4 xl--mr-8 flex-none">
		<use xlink:href="#icon-alert"></use>
	</svg>
	<p class="text-hug">Some general message content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
		velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
		qui officia deserunt mollit anim id est laborum. <a href="#" class="underline">Learn more</a>.</p>
</div>
