<div class="tabcordion">
	<ul class="tabcordion__links">
		<li class="is-active tabcordion__tab js-tabcordion__trigger" data-tab="tab1"><button>Why UBC</button></li>
		<li class="tabcordion__tab js-tabcordion__trigger" data-tab="tab2"><button>New to UBC</button></li>
		<li class="tabcordion__tab js-tabcordion__trigger" data-tab="tab3"><button>Current Faculty &amp; Staff</button>
		</li>
	</ul>

	<div class="tabcordion__content-wrapper">
		<a class="tabcordion__heading js-tabcordion__trigger is-active" data-tab="tab1" href="#tab1" id="tab1">Why
			UBC</a>
		<div data-content="tab1" class="tabcordion__content is-active">
			<p class="text-lead text-ubc-blue-cobalt">We're committed to ensuring that our UBC workplaces are safe,
				healthy and respectful, and we offer many programs and resources to keep you healthy at work.</p>
			<p><a href="#"
					class="cta-button cta-button--underline cta-button--underline-neptune cta-button--dark cta-button--underline-heavy">Learn
					how <svg role="presentation"
						class="unit-button__icon text-ubc-blue-neptune"
						viewBox="0 0 19 19">
						<use xlink:href="#icon-arrow-circle2"></use>
					</svg></a>
			</p>
		</div>

		<a class="tabcordion__heading js-tabcordion__trigger" data-tab="tab2" href="#tab2" id="tab2">New to UBC</a>
		<div data-content="tab2" class="tabcordion__content">
			<p class="text-lead text-ubc-blue-cobalt">Some New to UBC Text. Lorem ipsum dolor sit amet, consectetur
				adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<p><a href="#"
					class="cta-button cta-button--underline cta-button--underline-neptune cta-button--dark cta-button--underline-heavy">Learn
					how <svg role="presentation"
						class="unit-button__icon text-ubc-blue-neptune"
						viewBox="0 0 19 19">
						<use xlink:href="#icon-arrow-circle2"></use>
					</svg></a>
			</p>
		</div>

		<a class="tabcordion__heading js-tabcordion__trigger" data-tab="tab3" href="#tab3" id="tab3">Current Faculty
			&amp; Staff</a>
		<div data-content="tab3" class="tabcordion__content">
			<p class="text-lead text-ubc-blue-cobalt">Some Current Faculty &amp; Staff Text. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p><a href="#"
					class="cta-button cta-button--underline cta-button--underline-neptune cta-button--dark cta-button--underline-heavy">Learn
					how <svg role="presentation"
						class="unit-button__icon text-ubc-blue-neptune"
						viewBox="0 0 19 19">
						<use xlink:href="#icon-arrow-circle2"></use>
					</svg></a>
			</p>
		</div>

	</div>
</div>
