<h2 class="accordion heading-four js-reveal__parent">
	<button class="accordion__trigger uppercase js-reveal__trigger" aria-expanded="false">Section 1</button>
</h2>
<div class="accordion__content js-reveal__target" hidden>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu
		metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula. Ut
		id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed at augue
		libero. Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis
		imperdiet quis sed eros.</p>
	<h2 class="accordion heading-five js-reveal__parent">
		<button class="accordion__trigger uppercase js-reveal__trigger" aria-expanded="false">SubSection 1</button>
		</button>
	</h2>
	<div class="accordion__content js-reveal__target" hidden>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus hendrerit eu eu
			metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae venenatis vehicula.
			Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a bibendum enim. Sed
			at augue libero. Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum
			risus facilisis imperdiet quis sed eros.</p>
	</div>
</div>
<h2 class="accordion heading-four js-reveal__parent">
	<button class="accordion__trigger uppercase js-reveal__trigger" aria-expanded="false">Section 2</button>
	</button>
</h2>
<div class="accordion__content js-reveal__target" hidden>
	<p>Nullam tortor metus, tincidunt ut urna id, posuere placerat orci. Ut quis risus dictum risus facilisis imperdiet
		quis sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo purus quis mi cursus
		hendrerit eu eu metus. Aliquam aliquam arcu eget aliquet scelerisque. Pellentesque sodales turpis vitae
		venenatis vehicula. Ut id porta velit. Ut eu dignissim dui, quis gravida est. Cras quis venenatis mauris, a
		bibendum enim. Sed at augue libero.</p>
</div>
