<section class="my-6 p-8 shadow-lg">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg bg-grey-300">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg bg-ubc-blue-polar">
	<p class="text-hug text-ubc-blue-cobalt">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing
		elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg gradient-bottom--grey-full">
	<p class="text-hug">Upcoming Activities: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<section class="my-6 p-8 shadow-lg bg-ubc-blue-cobalt">
	<blockquote class="border-l-2 border-white text-white font-semibold">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</blockquote>
</section>

<section class="my-6 p-8 shadow-lg bg-ubc-blue">
	<blockquote class="border-l-2 border-white text-white font-semibold">Upcoming Activities: Lorem ipsum dolor sit
		amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</blockquote>
</section>
