<section id="myCarousel" class="carousel slide" aria-label="Highlighted television shows">
	<button class="pause">Stop Carousel</button>
	<div class="carousel-inner">
		<a class="previous carousel-control" role="button" tabindex="0" aria-controls="myCarousel-items"
			aria-label="Previous Slide">
			<svg role="presentation"
				class="unit-button__icon h-8 w-8 md--h-16 md--w-16 xl--w-24 xl--h-24 stroke-w-1 text-white rotate-180">
				<use xlink:href="#icon-arrow-circle"></use>
			</svg>
		</a>
		<a class="next carousel-control" role="button" tabindex="0" aria-controls="myCarousel-items"
			aria-label="Next Slide">
			<svg role="presentation"
				class="unit-button__icon h-8 w-8 md--h-16 md--w-16 xl--w-24 xl--h-24 stroke-w-1 text-white">
				<use xlink:href="#icon-arrow-circle"></use>
			</svg>
		</a>
		<div id="myCarousel-items" class="carousel-items" aria-live="off">
			<div class="carousel-item active" role="group" aria-label="1 of 5">
				<div class="carousel-image">
					<a href="#">
						<img src="https://live.staticflickr.com/4567/24716071738_4661ec1ca2_h.jpg"
							alt="Walking Tour in Amsterdam">
					</a>
				</div>
				<div class="carousel-caption gradient-bottom--ubc-blue-full">
					<h3 class="heading-four">
						<a href="#" id="carousel-label-1" class="no-underline">Dynamic Europe: Amsterdam, Prague,
							Berlin</a>
					</h3>
					<p class="text-hug">7 pm Tuesday, March 3, on TV</p>
					<p>
						<button
							class="unit-button unit-button--transparent text-white px-6 py-3  mr-6 border inline-block border-white hover--bg-white hover--no-underline hover--shadow-md hover--text-ubc-blue">Take
							action! <svg role="presentation"
								class="unit-button__icon inline-block h-4 w-4 text-ubc-blue-neptune ml-2 -mt-1 stroke-w-4">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg>
						</button>
					</p>
				</div>
				<!-- .carousel-caption gradient-bottom--ubc-blue-full -->
			</div>
			<!-- .item -->
			<div class="carousel-item" role="group" aria-label="2 of 5">
				<div class="carousel-image">
					<a href="#">
						<img src="https://live.staticflickr.com/7597/26818144963_4ae49d4bae_h.jpg"
							alt="Land's End in Cornwall">
					</a>
				</div>
				<div class="carousel-caption gradient-bottom--ubc-blue-full">
					<h3 class="heading-four">
						<a href="#" id="carousel-label-2" class="no-underline">Travel to Southwest England and Paris</a>
					</h3>
					<p class="text-hug">Sept. 14 to Sept. 24 or 27</p>
					<p>
						<button
							class="unit-button unit-button--transparent text-white px-6 py-3  mr-6 border inline-block border-white hover--bg-white hover--no-underline hover--shadow-md hover--text-ubc-blue">Take
							action! <svg role="presentation"
								class="unit-button__icon inline-block h-4 w-4 text-ubc-blue-neptune ml-2 -mt-1 stroke-w-4">
								<use xlink:href="#icon-arrow-circle"></use>
							</svg></button>
					</p>
				</div>
				<!-- .carousel-caption gradient-bottom--ubc-blue-full -->
			</div>
			<!-- .item -->
			<div class="carousel-item" role="group" aria-label="3 of 5">
				<div class="carousel-image">
					<a href="#">
						<img src="https://live.staticflickr.com/7340/27148888790_fe722e108e_h.jpg"
							alt="Mom and daughter play Daniel Tiger game on notebook computer.">
					</a>
				</div>
				<div class="carousel-caption gradient-bottom--ubc-blue-full">
					<h3 class="heading-four">
						<a href="#" id="carousel-label-3" class="no-underline">Survey confirms that TV is America’s most
							trusted institution</a>
					</h3>
					<p>
						<button
							class="unit-button unit-button--transparent text-white px-6 py-3  mr-6 border inline-block border-white hover--bg-white hover--no-underline hover--shadow-md hover--text-ubc-blue">More
							here</button>
					</p>
				</div>
				<!-- .carousel-caption gradient-bottom--ubc-blue-full -->
			</div>
			<!-- .item -->
			<div class="carousel-item" role="group" aria-label="4 of 5">
				<div class="carousel-image">
					<a href="#">
						<img src="https://live.staticflickr.com/7095/27148756490_1a9e2a2d55_h.jpg"
							alt="A man in a suit and fedora and a woman with coiffed hair look sternly into the camera.">
					</a>
				</div>
				<div class="carousel-caption gradient-bottom--ubc-blue-full">
					<h3 class="heading-four">
						<a href="#" id="carousel-label-4" class="no-underline">Foyle’s War Revisited</a>
					</h3>
					<p class="text-hug">8 pm Sunday, March 8, on TV: Sneak peak at the final season.</p>
					<p>
						<button
							class="unit-button unit-button--transparent text-white px-6 py-3  mr-6 border inline-block border-white hover--bg-white hover--no-underline hover--shadow-md hover--text-ubc-blue">More
							here</button>
					</p>
				</div>
				<!-- .carousel-caption gradient-bottom--ubc-blue-full -->
			</div>
			<div class="carousel-item" role="group" aria-label="5 of 5">
				<div class="carousel-image">
					<a href="#">
						<img src="https://live.staticflickr.com/4584/38588637591_0241df7a93_z_d.jpg"
							alt="Mid-American Gardener panelists on the set">
					</a>
				</div>
				<div class="carousel-caption gradient-bottom--ubc-blue-full">
					<h3 class="heading-four">
						<a href="#" id="carousel-label-6" class="no-underline">Mid-American Gardener: Thursdays at 7
							pm</a>
					</h3>
					<p class="text-hug">Watch the latest episodes.</p>
					<p>
						<button
							class="unit-button unit-button--transparent text-white px-6 py-3  mr-6 border inline-block border-white hover--bg-white hover--no-underline hover--shadow-md hover--text-ubc-blue">More
							here</button>
					</p>
				</div>
				<!-- .carousel-caption gradient-bottom--ubc-blue-full -->
			</div>
			<!-- .item -->
		</div>
	</div>
	<!-- carousel-inner -->
</section>
<!-- /.carousel -->
<div class="col-sm-1"></div>
