<p class="text-center">
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#logo-ubc"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cobalt">
      <use xlink:href="#icon-search"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cerulean">
      <use xlink:href="#icon-menu"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-summer-sky">
      <use xlink:href="#icon-arrow"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-malibu">
      <use xlink:href="#icon-arrow-circle"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-anakiwa">
      <use xlink:href="#icon-arrow-stroke"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-plus"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cobalt">
      <use xlink:href="#icon-play"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cerulean">
      <use xlink:href="#icon-cart"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-summer-sky">
      <use xlink:href="#icon-home"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-malibu">
      <use xlink:href="#icon-phone"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-anakiwa">
      <use xlink:href="#icon-messages"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-edit"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cobalt">
      <use xlink:href="#icon-user"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cerulean">
      <use xlink:href="#icon-twitter"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-summer-sky">
      <use xlink:href="#icon-facebook"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-malibu">
      <use xlink:href="#icon-linkedin"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-anakiwa">
      <use xlink:href="#icon-instagram"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue">
      <use xlink:href="#icon-youtube"/>
    </svg>
    <svg role="presentation" class="inline-block h-12 w-12 text-ubc-blue-cobalt">
      <use xlink:href="#icon-vimeo"/>
    </svg>
  </p>
