<h1 class="text-ubc-blue-cobalt">Planning for Retirement</h1>
<h2>Are you ready to retire?</h2>
<p class="text-lead text-ubc-blue-cobalt">We can connect you to programs and support that can help you navigate the
	transisitons of your life and career, from getting married and welcoming a new baby to retiring and dealing with the
	death of a loved one.</p>
<p><a href="#"
		class="cta-button cta-button--underline cta-button--underline-neptune cta-button--underline-heavy font-bold uppercase text-ubc-blue-sea py-3 hover--no-underline mr-6">Learn
		how <svg role="presentation"
			class="unit-button__icon inline-block h-4 w-4 text-ubc-blue-neptune ml-2 -mt-1 stroke-w-1"
			viewBox="0 0 19 19">
			<use xlink:href="#icon-arrow-circle2"></use>
		</svg></a></p>
<h3 class="text-ubc-blue-cobalt">Retirement Counselling, Workshops &amp; Resources</h3>
<p>For members of the UBC Faculty Pension Plan, the Pension Administration Office offers individual information sessions
	on pension-related matters. To make an appointment, please call 604-822-3485. Further information on retirement as
	well as links to other retirement related sites can be found on <a href="#">the Plan’s website</a>. You can also use
	the pension calculator to estimate future account balances(s) and monthly annuity you may receive upon retirement
	from the UBC Faculty Pension Plan (FPP).</p>
<h4 class="text-grey-700">Retirement Planning Seminars</h4>
<p>These engaging and informative seminars are offered to UBC Faculty Association members aged 55 or older. Spouses and
	partners are welcome to attend. The sessions provide a practical framework for retirement planning supplemented by
	information, perspectives and resources related to financial, legal, professional and lifestyle choices. Invitations
	are emailed from Faculty Relations to Faculty Association members in the fall and spring each year. Questions
	regarding the seminars can be directed to <a href="#">Faculty Relations Admin</a>.</p>
<h3 class="text-ubc-blue-cobalt">Workshops &amp; Resources</h3>
<p>For members of the UBC Faculty Pension Plan, the Pension Administration Office offers individual information sessions
	on pension-related matters. To make an appointment, please call 604-822-3485. Further information on retirement as
	well as links to other retirement related sites can be found on <a href="#">the Plan’s website</a>. You can also use
	the pension calculator to estimate future account balances(s) and monthly annuity you may receive upon retirement
	from the UBC Faculty Pension Plan (FPP).</p>
<p>Sessions provide a practical framework for retirement planning supplemented by information, perspectives and
	resources related to financial, legal, professional and lifestyle choices. Invitations are emailed from Faculty
	Relations to Faculty Association members in the fall and spring each year. Questions regarding the seminars can be
	directed to <a href="#">Faculty Relations Admin</a>.</p>
<h3 class="text-ubc-blue-cobalt">Counselling, Workshops &amp; Resources</h3>
<p>For members of the UBC Faculty Pension Plan, the Pension Administration Office offers individual information sessions
	on pension-related matters. To make an appointment, please call 604-822-3485. Further information on retirement as
	well as links to other retirement related sites can be found on <a href="#">the Plan’s website</a>. You can also use
	the pension calculator to estimate future account balances(s) and monthly annuity you may receive upon retirement
	from the UBC Faculty Pension Plan (FPP).</p>
<h4 class="text-grey-700">Faculty Pension Plan</h4>
<p>The Pension Administration Office offers individual information sessions on pension-related matters. To make an
	appointment, please call 604-822-3485. Further information on retirement as well as links to other retirement
	related sites can be found on <a href="#">the Plan’s website</a>. You can also use the pension calculator to
	estimate future account balances(s) and monthly annuity you may receive upon retirement from the UBC Faculty Pension
	Plan (FPP).</p>
