<h4 class="heading-three">Headings</h4>
<hr />

<h1>Heading 1 Style more text to show wrapping</h1>
<h2>Heading 2 Style more text to show wrapping</h2>
<h3>Heading 3 Style more text to show wrapping Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h3>
<h4>Heading 4 Style more text to show wrapping Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat.</h4>
<h5>Heading 5 Style more text to show wrapping Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
	mollit anim id est laborum.</h5>
<h6>Heading 6 Style more text to show wrapping Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
	mollit anim id est laborum.</h6>

<h4 class="heading-three">Regular Text</h4>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Ut enim ad minim veniam, quis <a href="#" class="text-ubc-blue-cobalt">nostrud exercitation ullamco</a>
	laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. <a href="#" class="text-ubc-blue-cobalt">Excepteur sint occaecat</a>
	cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Nostrud <strong>exercitation ullamco</strong> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
	in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
	non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h4 class="heading-three">Lead Text</h4>
<hr />
<p class="text-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
	ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
	pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
	laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
	sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h4 class="heading-three">Small Text</h4>
<hr />
<p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</small></p>

<h4 class="heading-three">Lists</h4>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.</p>
<ul>
	<li>list item</li>
	<li>list item</li>
	<li>list item</li>
	<li>list item
		<ul class="pl-6">
			<li>list item</li>
			<li>list item</li>
		</ul>
	</li>
	<li>list item</li>
	<li>list item</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.</p>
<ul>
	<li>more list items</li>
	<li>more list items</li>
	<li>more list items</li>
</ul>

<h4 class="heading-three">Description Lists</h4>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.</p>
<dl>
	<dt>Description term [dt]</dt>
	<dd>Description list item [dd]</dd>
	<dd>Description list item [dd]</dd>
	<dd>Description list item [dd]</dd>
</dl>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.</p>

<h4 class="heading-three">Em, Italic, Bold and Strong elements</h4>
<hr />
<p>Lorem ipsum <em>[em element] dolor sit amet, consectetur</em> adipisicing elit, sed do <i>[i element] eiusmod tempor
		incididunt ut</i> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
	laboris nisi ut <bold>[bold element] aliquip ex ea commodo consequat</bold>. Duis aute irure dolor in reprehenderit
	in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <strong>[strong element] Excepteur sint occaecat
		cupidatat</strong> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h4 class="heading-three">Table</h4>
<hr />
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>First</th>
			<th>Last</th>
			<th>Handle</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
		<tr>
			<th>2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr>
			<th>3</th>
			<td>Larry</td>
			<td>the Bird</td>
			<td>@twitter</td>
		</tr>
	</tbody>
</table>

<h4 class="heading-three">Blockquote</h4>
<hr />
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<blockquote>This is some blockquote text</blockquote>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h4 class="heading-three">Horizontal Rule</h4>
<hr />
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<hr />
<p> This [above ^ ] is an horizontal rule</p>

<h4 class="heading-three">Code and Pre</h4>
<hr />
<code>This is some text in a code element</code>
<pre>This is some text inserted into a pre element</pre>
<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis
	aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<hr />
<h2 class="heading-two">Type Utilities</h2>
<h2 class="heading-three">Heading Classes</h2>
<hr />
<h2 class="heading-one">H2 with a <em>heading-one</em> class</h2>
<h1 class="heading-two">H1 with a <em>heading-two</em> class</h1>
<h1 class="heading-three">H1 with a <em>heading-three</em> class</h1>
<h1 class="heading-four">H1 with a <em>heading-four</em> class</h1>
<h1 class="heading-five">H1 with a <em>heading-five</em> class</h1>
<h1 class="heading-six">H1 with a <em>heading-six</em> class</h1>

<h4 class="heading-three">Text Hug (remove top margin)</h4>
<hr />
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
	aliqua.</p>
<p class="text-hug">[p] tag with <code>.text-hug</code> class - Lorem ipsum dolor sit amet, consectetur adipisicing
	elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


<h4 class="heading-three">Text truncation</h4>
<hr />
<p class="truncate">Max 1 lines - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<p class="truncate-2">Max 2 lines - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
	ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
	fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia id est laborum.</p>
<p class="truncate-3">Max 3 lines - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="text-ubc-blue-cobalt">quis
		nostrud exercitation ullamco laboris nisi ut aliquip ex</a> ea commodo consequat. Duis aute irure dolor in
	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia id est laborum.</p>
