<style>
	.unit-button {
		line-height: 1.5rem;
		vertical-align: middle;
	}

	.unit-button--underline {
		position: relative;
		transition: all 0.125s ease-in-out;
	}

	.unit-button--underline::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #002145;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.125s ease-in-out 0s;
	}

	.unit-button--underline:hover::before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	.unit-button--underline svg {
		transition: all 0.125s ease-in-out;
	}

	.unit-button--underline:hover svg {
		transform: translateX(2px);
		transition: all 0.125s ease-in-out;
	}

	.unit-button--underline-neptune::before {
		background-color: #40b4e5;
	}

	.unit-button--underline-cornflower::before {
		background-color: #97d4e9;
	}

	.unit-button--underline-white::before {
		background-color: #fff;
	}

	.unit-button--underline-heavy::before {
		height: 4px;
	}

</style>
<h1 class="heading-display">Display - Planning for Retirement More Words</h1>
<h1 class="text-ubc-blue-cobalt">Planning for Retirement for Retirement More Words</h1>
<h2>Are you ready to retire? for Retirement More Words</h2>
<p class="text-lead text-ubc-blue-cobalt">We can connect you to programs and support that can help you navigate the
	transisitons of your life and career, from getting married and welcoming a new baby to retiring and dealing with the
	death of a loved one.</p>
<p><a href="#"
		class="unit-button unit-button--underline unit-button--underline-neptune unit-button--underline-heavy font-bold uppercase text-ubc-blue py-3 hover--no-underline mr-6">Unit
		button <svg role="presentation" class="inline-block h-4 w-4 text-ubc-blue-polar ml-2 -mt-1">
			<use xlink:href="#icon-arrow-circle"></use>
		</svg></a></p>
<h3 class="text-ubc-blue-cobalt">Retirement Counselling, Workshops &amp; Resources for Retirement More Words</h3>
<p>For members of the UBC Faculty Pension Plan, the Pension Administration Office offers individual information sessions
	on pension-related matters. To make an appointment, please call 604-822-3485. Further information on retirement as
	well as links to other retirement related sites can be found on <a href="#">the Plan’s website</a>. You can also use
	the pension calculator to estimate future account balances(s) and monthly annuity you may receive upon retirement
	from the UBC Faculty Pension Plan (FPP).</p>
<h4 class="text-grey-700 font-semibold">Retirement Planning Seminars for Retirement More Words</h4>
<p>These engaging and informative seminars are offered to UBC Faculty Association members aged 55 or older. Spouses and
	partners are welcome to attend. The sessions provide a practical framework for retirement planning supplemented by
	information, perspectives and resources related to financial, legal, professional and lifestyle choices. Invitations
	are emailed from Faculty Relations to Faculty Association members in the fall and spring each year. Questions
	regarding the seminars can be directed to <a href="#">Faculty Relations Admin</a>.</p>
<h3 class="text-ubc-blue-cobalt">Workshops &amp; Resources for Retirement More Words</h3>
<p>For members of the UBC Faculty Pension Plan, the Pension Administration Office offers individual information sessions
	on pension-related matters. To make an appointment, please call 604-822-3485. Further information on retirement as
	well as links to other retirement related sites can be found on <a href="#">the Plan’s website</a>. You can also use
	the pension calculator to estimate future account balances(s) and monthly annuity you may receive upon retirement
	from the UBC Faculty Pension Plan (FPP).</p>
<p>Sessions provide a practical framework for retirement planning supplemented by information, perspectives and
	resources related to financial, legal, professional and lifestyle choices. Invitations are emailed from Faculty
	Relations to Faculty Association members in the fall and spring each year. Questions regarding the seminars can be
	directed to <a href="#">Faculty Relations Admin</a>.</p>
<h3 class="heading-three text-ubc-blue-cobalt">Counselling, Workshops &amp; Resources for Retirement More Words</h3>
<p>For members of the UBC Faculty Pension Plan, the Pension Administration Office offers individual information sessions
	on pension-related matters. To make an appointment, please call 604-822-3485. Further information on retirement as
	well as links to other retirement related sites can be found on <a href="#">the Plan’s website</a>. You can also use
	the pension calculator to estimate future account balances(s) and monthly annuity you may receive upon retirement
	from the UBC Faculty Pension Plan (FPP).</p>
<h4 class="text-grey-700">Retirement Planning Moret Test Seminars for Retirement More Words</h4>
<p>Sessions provide a practical framework for retirement planning supplemented by information, perspectives and
	resources related to financial, legal, professional and lifestyle choices.</p>
<h5 class="">Retirement Planning Seminars for Retirement More Words</h5>
<p>Invitations are emailed from Faculty Relations to Faculty Association members in the fall and spring each year.</p>
<h6 class="">Retirement Planning Seminars for Retirement More Words</h6>
<p>Questions regarding the seminars can be directed to <a href="#">Faculty Relations Admin</a>.</p>
