<nav>
	<button class="block py-2 bg-blue block w-full mb-2 text-white">Close</button>
	<h2>Side navigation</h2>
	<ul class="list-reset">
	<li class="trigger">UBC Careers
		<ul class="list-reset pl-2 is-active">
		<li class="trigger">Why UBC?
			<ul class="list-reset pl-2">
			<li>UBC At a Glance</li>
			</ul>
		</li>
		<li>Meet Our Community</li>
		<li>Staff Careers</li>
		<li>Faculty Careers</li>
		<li>Leadership Careers</li>
		</ul>
	</li>
	<li class="trigger">New to UBC
		<ul class="list-reset pl-2">
		<li class="trigger">Getting Sarted
			<ul class="list-reset pl-2">
			<li class="trigger">Before You Arrive
				<ul class="list-reset pl-2">
				<li>Immigration + Relocation Information</li>
				</ul>
			</li>
			</ul>
		</li>
		<li>Orientations</li>
		<li>Policies + Procedures</li>
		<li>Mandatory Safety Training</li>
		<li>Getting Set Up</li>
		<li>Payroll + Benefits</li>
		<li>Getting Here</li>
		<li>Know the Campus</li>
		</ul>
	</li>
	<li class="trigger">Work / Life at UBC
		<ul class="list-reset pl-2">
		<li class="trigger">Wellbeing
			<ul class="list-reset pl-2">
			<li>My Benefits</li>
			<li>Physical Wellbeing</li>
			<li>Mental Wellbeing</li>
			<li>Wellbeing Workshops</li>
			</ul>
		</li>
		<li class="trigger">Learning
			<ul class="list-reset pl-2">
			<li>Career Development Funds</li>
			<li>Career Development Workshops</li>
			<li>Online Learning</li>
			<li>Career Coaching</li>
			<li>Leadership Programs</li>
			<li>Tuition Waivers</li>
			</ul>
		</li>
		<li class="trigger">Community
			<ul class="list-reset pl-2">
			<li>Awards + Recognition</li>
			<li>Employee Engagement</li>
			<li>Our Stories</li>
			<li>Housing</li>
			</ul>
		</li>
		<li class="trigger">Work / Life Events
			<ul class="list-reset pl-2">
			<li>Starting at UBC</li>
			<li>Moving to UBC</li>
			<li>Changing Jobs at UBC</li>
			<li>Leaves of Absence</li>
			<li>Marriage + Common Law</li>
			<li>Having + Adopting Children</li>
			<li>Older Dependent Children</li>
			<li>Separation + Divorce</li>
			<li>Eldercare</li>
			<li>Illness + Injury</li>
			<li>Death + Terminal Illness</li>
			<li>Working Past 65</li>
			<li>Leaving UBC</li>
			<li>Retiring</li>
			</ul>
		</li>
		<li>What's Happening?</li>
		</ul>
	</li>
	<li class="trigger">Faculty + Staff Resources
		<ul class="list-reset pl-2">
		<li>Workday</li>
		<li>Benefits</li>
		<li class="trigger">Workplace Resources
			<ul class="list-reset pl-2">
			<li>Workplace Health</li>
			<li>Newsletters</li>
			<li>Winter Weather Information</li>
			<li>Statutory Holidays</li>
			<li>Staff + Faculty Perks</li>
			<li>Remote Working</li>
			</ul>
		</li>
		<li>Occupational Safety</li>
		<li>Pensions</li>
		<li>Compensation + Salaries</li>
		<li class="trigger">Organizational Information+ Policies
			<ul class="list-reset pl-2">
			<li>Policies + Expectations</li>
			<li>Collective Agreements</li>
			<li>Employee Groups</li>
			</ul>
		</li>
		<li>Tenure + Promotion</li>
		<li class="trigger">Retirement
			<ul class="list-reset pl-2">
			<li>Faculty Retirement</li>
			<li>Staff Retirement</li>
			</ul>
		</li>
		<li class="trigger">Leaving UBC
			<ul class="list-reset pl-2">
			<li>Faculty Resignations</li>
			<li>Staff Resignations</li>
			</ul>
		</li>
		</ul>
	</li>
	</ul>
	<hr class="border-b border-grey" />
	<ul class="list-reset">
	<li>Contact HR</li>
	</ul>
	<hr class="border-b border-grey" />
	<ul class="list-reset">
	<li class="trigger">About UBC HR
		<ul class="list-reset pl-2">
		<li class="trigger">Our People
			<ul class="list-reset pl-2">
			<li>Meet the VP HR</li>
			<li>Leadership Team</li>
			<li>Contacts by Function</li>
			</ul>
		</li>
		<li>Our Vision + Priorities</li>
		<li>UBC HR Units</li>
		</ul>
	</li>
	</ul>
	<hr class="border-b border-grey" />
	<ul class="list-reset">
	<li class="trigger">Hiring + Managing
		<ul class="list-reset pl-2">
		<li class="trigger">Recruitment + Hiring
			<ul class="list-reset pl-2">
			<li>Careers</li>
			</ul>
		</li>
		<li class="trigger">Immigration + Relocation
			<ul class="list-reset pl-2">
			<li class="trigger">Immigration
				<ul class="list-reset pl-2">
				<li>Immigration for Staff</li>
				<li class="trigger">Immigration for Faculty
					<ul class="list-reset pl-2">
					<li>NAFTA Exemption</li>
					<li>Immigration Process for Foreign Academics</li>
					<li>Immigration Process for Foreign Postdoctoral Fellows</li>
					<li>Immigration Process for Foreign Clinical Fellows</li>
					<li>Foreign Visiting Professors, Scientists + Scholars</li>
					<li>Work Permit Renewal</li>
					<li>Permanent Residency + Citizenship</li>
					<li>Obtaining a Social Insurance Number</li>
					<li>Invitations for Foriegn Fellows + Visiting Family</li>
					</ul>
				</li>
				</ul>
			</li>
			<li class="trigger">Relocating Faculty + Senior Management
				<ul class="list-reset pl-2">
				<li>Eligibility for Relocation Funding</li>
				<li>Policy: Relocation + Travel</li>
				<li>Central Relocation Fund Contribution Table</li>
				<li>Relocation Process</li>
				<li>Relocation FAQs</li>
				<li>Designated Moving Company</li>
				<li>Forms + resources</li>
				</ul>
			</li>
			</ul>
		</li>
		<li class="trigger">Managing HR Matters
			<ul class="list-reset pl-2">
			<li class="trigger">Faculty
				<ul class="list-reset pl-2">
				<li>New Faculty</li>
				<li class="trigger">Pay + Benefits
					<ul class="list-reset pl-2">
					<li>Shadow Salaries</li>
					</ul>
				</li>
				<li>Tenure, Promotion, Reappointment + Confimation</li>
				<li>Administrative Leave</li>
				<li>Secondment</li>
				<li class="trigger">Leaving UBC
					<ul class="list-reset pl-2">
					<li>Recognition</li>
					<li>Retirement</li>
					</ul>
				</li>
				<li>Death of a Faculty Member</li>
				<li class="trigger">Resources + Tools
					<ul class="list-reset pl-2">
					<li>Guidelins for Personnel Files</li>
					<li>A to Z Guide</li>
					</ul>
				</li>
				</ul>
			</li>
			<li class="trigger">Staff
				<ul class="list-reset pl-2">
				<li>New Staff</li>
				<li>Employee vs Contractor</li>
				<li class="trigger">Pay + Benefits
					<ul class="list-reset pl-2">
					<li>Vacation Pay</li>
					<li>Statutory Holiday Pay</li>
					</ul>
				</li>
				<li>Conflict Resolution</li>
				<li>Workplace Discipline</li>
				<li class="trigger">Leaving UBC
					<ul class="list-reset pl-2">
					<li>Retirement</li>
					<li>Resignation</li>
					<li>Terminations + Layoffs</li>
					</ul>
				</li>
				<li>Work Hours + Attendance</li>
				<li>Employee Illness</li>
				</ul>
			</li>
			<li class="trigger">Students
				<ul class="list-reset pl-2">
				<li>Ending Student Appointments</li>
				</ul>
			</li>
			<li class="trigger">Employee Relations
				<ul class="list-reset pl-2">
				<li>Bargaining</li>
				<li>Workplace Discipline</li>
				<li>Grievances</li>
				<li>Arbitration</li>
				</ul>
			</li>
			<li>Human Resource Management System</li>
			<li>News, Memos + Events</li>
			<li class="trigger">Resources + Tools
				<ul class="list-reset pl-2">
				<li>Crimimnal Record Checks at UBC</li>
				<li>Extraordinary Expense Fund</li>
				<li>EFAP Support for Managers</li>
				<li>Benefit Cost Calculator</li>
				<li>Forms</li>
				</ul>
			</li>
			</ul>
		</li>
		<li class="trigger">Development + Retention
			<ul class="list-reset pl-2">
			<li>Performance Development</li>
			<li>Team Development</li>
			<li>Recognition + Rewards</li>
			<li>Career Navigation</li>
			</ul>
		</li>
		</ul>
	</li>
	</ul>
</nav>
